* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
}

h2 {
	font-weight: 300;
	font-size: 27px;
	margin: 0 0 10px 0;
}

h3 {
	font-size: 19px;
}

a {
	text-decoration: none;
	color: #f49b00;
}

.main-header-container {
	background: #f1f1f1;
}

/* ------------------ Für alles ------------------ */

.main-header,
.intro,
.intro-content,
.columns,
.programme,
.vorgehen,
.interesse,
.impressum,
.slogan,
.legal,
.content-header,
.content,
.gallery,
.banner {
	max-width: 960px;/* max- (für Internetseite) */
	padding: 20px;
	margin: 0 auto;
}

/* ------------------ Jedes Ding einfgen ------------------ */
.logo {
	display: block;
  	width: 264.6px;
  	height: 111.3px;
 	background: #000 url(../img/layout/logo-trans.png) top left no-repeat;
 	background-size: 264.6px;
 	float: left;
  	-moz-transition: all .5s ease;
 	-webkit-transition: all .5s ease;
  	-o-transition: all .5s ease;
  	transition: all .5s ease;
}

.logo:hover {
	background-color: #f49b00;
}

.ytlogo {
	/*background: transparent url(../img/layout/ytlogo2.png) no-repeat 0 0;*/
	margin-top: 28px;
  	width: 129.2px;
  	height: 70.6px;
 	background: #000 url(../img/layout/ytlogo-trans.png) top left no-repeat;
 	background-size: 129.2px;
 	float: right;
  	-moz-transition: all .5s ease;
 	-webkit-transition: all .5s ease;
  	-o-transition: all .5s ease;
  	transition: all .5s ease;
}

.ytlogo:hover {
  	background-color: red;
}

.main-header .logo {
	float: left;
}

.main-header nav {
	float: right;
	padding-top: 36px;
}

.main-header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-header li {
	float: left;
	position: relative;
}

.main-header li li {
	float: none;
}

.main-header ul ul {
	display: none;
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
}

.main-header li:hover ul {
	display: block;
}

.main-header nav a {
	display: block;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 23px;
	font-weight: 500;
	color: #222;
	border-bottom: 1px solid transparent;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.main-header nav a:hover,
.main-header nav .current a {
	border-color: #f49b00;
}

.main-header nav li li a {
	background: #222;
	color: #f49b00;
}

.intro-container {
	background: transparent url(../img/layout/fp-bg.jpg) bottom center no-repeat;
	height: 800px;
	background-size: cover;
}

.intro {
	color: #dadada;
	text-align: center;
	padding-top: 30px;
}

.intro h1 {
	font-size: 50px;
	text-transform: uppercase;
}

.intro h1 span {
	display: block;
	font-size: 25px;
}

.intro-content-container {
	background: #f1f1f1;
	padding: 40px 0;
}

.intro-content {
	padding-left: 0;
	padding-right: 0;
}

/* ------------------ Startseite - 2er-Spalte ------------------ */
.intro-text,
.intro-aside {
	float: left;
	padding: 0 20px;
}

.intro-text {
	width: 66.66%;
}

.intro-aside {
	width: 33.33%;
	border-left: 1px solid #222;
}

.intro-aside h3,
.intro-aside p {
	margin: 0;
}

/* ------------------ Startseite - 3er-Spalte ------------------ */
.columns-container {
	background: #dadada;
	padding: 40px 0;
}

.columns {
	padding-left: 0;
	padding-right: 0;
}

.columns article {
	float: left;
	width: 33.33%;
	padding: 0 20px;
	text-align: center;
	border-left: 1px solid #222;
}

.columns article:first-child {
	border: none;
}

.columns article .button {
	display: block;
}

/* ------------------ Intros - Programme ------------------ */
.programme-container {
	background: #dadada;
	padding-top: 30px;
	padding-bottom: 30px;
}

.programme {
	padding-left: 0;
	padding-right: 0;
}

.programme h2 {
	float: right;
	margin-top: 45px;
}

.programme article {
	float: left;
	width: 50%;
	padding: 0 20px;
	border-left: 1px solid #222;
}

.programme article:first-child {
	border: none;
}

.programme p {
	font-size: 20px;
	line-height: 1.5;
}

/* ------------------ Intros - Programme ------------------ */
.vorgehen-container {
	background: #f1f1f1;
	padding-top: 30px;
}

.vorgehen-container h2 {
	text-align: center;
}

.vorgehen article {
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
	width: 33.33%;
	padding: 0 20px;
	border-left: 1px solid #222;
}

.vorgehen article:first-child {
	border: none;
}

.vorgehen article h2 {
	text-align: center;
	color: #222;
}

.vorgehen article p {
	color: #222;
}

.vorgehen p {
	font-size: 20px;
	line-height: 1.5;
}

.vorgehen-container span {
	color: #222;
	font-size: 25px;
	display: block;
	font-weight: 700;
	text-align: center;
}



.interesse-container {
	background: #dadada;
}

.interesse a {
	color: #222;
	font-size: 20px;
}
/* ------------------ Startseite - Slogan ------------------ */
.slogan-container {
	background: #f1f1f1;
}

.slogan p {
	font-size: 23px;
	line-height: 1.5;
	color: #222;
}

.slogan p span {
	display: block;
	font-weight: 700;

}

/* ------------------ Startseite - Footer ------------------ */
.legal-container {
	background: #2e2e2e;
	color: #f1f1f1;
}

.legal-container a {
	color: #f1f1f1;
	font-weight: 700;
	padding-bottom: 2px;
	border-bottom: 1px solid transparent;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.legal-container a:hover {
	border-color: #f1f1f1;
}

.legal-container img {
	margin: 0 4px;
	vertical-align: text-bottom;
}

/* ------------------ Leistungsseite ------------------ */
.main-content-container {
	background: #dadada;
}

.main-content-container p {
	text-align: center;
	font-weight: 700;
	font-size: 18px;
}

.main-content-container h1 {
	text-align: center;         /* center = zentriert */
	text-transform: uppercase;  /* uppercase = Nur Großbuchstaben */
}

.content-header-container {
	border-bottom: 1px solid #222;
}


.impressum-container {
	background: #dadada;
}

/* ------------------ Leistungsseite - Gallery ------------------ */
.gallery-container {
	background: #f1f1f1;
}

.gallery article {
	width: 50%;
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
	overflow: hidden;
	padding: 3px;
	border-left: 2px solid #222;
}

.gallery article:nth-child(2n+1) {
	border: none;
}

.gallery article a {
	position: relative;
	display: block;
	color: #f1ede4;
}

.gallery article .overlay {
	position: absolute;
	top: 0px;
	left: 0%;
	background: rgba(0,0,0,.8);
	width: 100%;
	height: 27%;
	text-align: center;
	line-height: 70%;
	display: block;
	/*opacity: 1;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;*/
}

.gallery article:hover .overlay {
	display: none;
	/*opacity: 1;*/
	top: 0%;
}

.gallery article img {
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.banner-container {
	background: #f1f1f1;
}

.banner article {
	float: center;
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: hidden;
	border: 2px solid #222;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.banner p {
	font-size: 25px;
	text-align: center;
}

/* ------------------ Button ------------------ */
.button {
	display: inline-block;
	padding: 10px 20px;
	text-transform: uppercase;
	border: 1px solid #f49b00;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.button:hover {
	background: #f49b00;
	color: #222;
}

.btn-dark {
	border-color: #222;
	color: #222;
}

.btn-dark:hover {
	background: #222;
	color: #f49b00;
}

.btn-light {
	border-color: #f1ede4;
	color: #f1ede4;
}

.btn-light:hover {
	background: #f1ede4;
	color: #222;
}

/* ------------------ Clearfix ------------------ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* ------------------ Mediaqueries ------------------ */
@media screen and (max-width: 850px) {
	.main-header .logo,
	.main-header nav,
	.main-header li {
		float: none;
	}
	
	.main-header nav {
		padding-top: 10px;
	}

	.main-header {
		text-align: center;
	}

	.main-header li {
		display: inline-block;
	}

	.intro-text,
	.intro-aside {
		width: 50%;
	}
}

@media screen and (max-width: 700px) {
	.intro-container {
		height: 300px
	}

	.intro {
		padding-top: 7px;
	}

	.intro h1 {
		font-size: 30px;
	}

	.intro h1 span {
		font-size: 16px;
	}

	.columns article {
		width: 100%;
		border: none;
		border-top: 1px solid #222;
		padding-top: 30px;
		margin-top: 30px;
	}

	.columns article:first-child {
		margin: 0;
		padding: 0;
	}

	.gallery article {
		width: 100%;
	}
}
